@font-face {
  font-family: "Alata";
  src: url("../fonts/") format("woff2"),
      url("../fonts/Alata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Light.woff2") format("woff2"),
      url("../fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/") format("woff2"),
      url("../fonts/Alata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-family-josefinsans: "Josefin Sans", "Arial", sans-serif;
  --font-family-alata: "Alata", "Arial", sans-serif;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --outline-color: ;
  --light-background-color: #f8f8f2;
  --footer-bg-color: #000000;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Alata", "Josefin Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.67;
  background-color: #F2F2F2;
  color: var(--text-black-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 165px;
  padding-right: 165px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}